.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__link {
    margin: 0 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #4f5665;
  }

  &__sign-in {
    margin-right: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #0b132a;
  }

  &__sign-up {
    padding: 10px 35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #f53855;
    border: 2px solid #f53838;
    border-radius: 50px;
  }
}
